body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #6b09da;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/9d4e8cc5-f692-41df-a81a-a23d8d9aec6d/d1f6e9f-93e6faa9-7d0d-48c7-b495-392a148a5015.jpg");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#posts-index img {
  margin-left: auto;
  width: 500px;
  height: auto;
  display: -webkit-box;
  margin-right: auto;
}

#posts-index h1 {
  text-align: center;
}

#posts-index button {
  text-align: center;
}

#posts-index h3 {
  border: 3px solid;
  margin-left: auto;
  background-color: rgb(143, 29, 249);
  border-radius: 2em;
  text-align: center;
  color: rgb(0, 0, 0);
  
}

#posts-new, #signup, #login {
  text-align: left;
  margin-bottom: 10px;
}

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

#posts-showpage img {
  margin-left: auto;
  width: 500px;
  height: auto;
  display: -webkit-box;
  margin-right: auto;
  margin-bottom: 2em;
}

#posts-showpage p {
font-size: xx-large;
font-weight: 600;
}

